.App {
  text-align: center;
}

p{
  font-size: 35px;
  font-weight: bold;
}
.header {
  background-color: #4D4848;
  color: white;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
